<div class="text-center">
    <h1>Contact</h1>
</div>

<div class="text-center">

    <i class="fa-solid fa-location-dot"></i> 
    <a href="https://www.google.com/maps/place/505+b+Rue+Principale,+Lachute,+QC+J8H+1Y5/@45.6570181,-74.3374995,17z/data=!3m1!4b1!4m6!3m5!1s0x4ccedbdb0b6bf901:0xa289939a5fd4775c!8m2!3d45.6570181!4d-74.3349246!16s%2Fg%2F11pvww_2k7?entry=ttu&g_ep=EgoyMDI1MDMxOS4yIKXMDSoASAFQAw%3D%3D" target="_blank">
        Lachute: Cafe Bell-O
    </a>

    <p><i class="fa-solid fa-phone"></i> (450) 123-4567</p>
</div>
