<!-- Contact Page Content -->
  <div class="container row justify-content-center">
    <!-- Title Section -->
    <div class="row justify-content-center header">
      <div class="col-12 text-center">
        <h1>Contact</h1>
      </div>
    </div>

    <!-- Contact Details Card -->
    <div class="row justify-content-center contact-card">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Heures D'ouverture</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong><span class="closed">Lundi:</span></strong> FERMÉ</li>
              <li class="list-group-item"><strong>Mardi:</strong> 9:00 AM - 5:00 PM</li>
              <li class="list-group-item"><strong>Mercredi:</strong> 9:00 AM - 5:00 PM</li>
              <li class="list-group-item"><strong>Jeudi:</strong> 9:00 AM - 5:00 PM</li>
              <li class="list-group-item"><strong>Vendredi:</strong> 9:00 AM - 5:00 PM</li>
              <li class="list-group-item"><strong>Samedi:</strong> 10:00 AM - 5:00 PM</li>
              <li class="list-group-item"><strong><span class="closed">Dimanche:</span></strong> FERMÉ</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact Info Section -->
    <div class="row justify-content-center contact-info">
      <div class="col-12 col-md-8 col-lg-6 text-center">
        <div class="mb-4">
          <i class="fa-solid fa-location-dot"></i>
          <a href="https://www.google.com/maps/place/505+b+Rue+Principale,+Lachute,+QC+J8H+1Y5" target="_blank">
            Cafe Bell-O
          </a>
        </div>
        <p>
          <i class="fa-solid fa-phone"></i>
          <a href="tel:+18197435579">(819) 743-5579</a>
        </p>
        <p>
          <i class="fa-solid fa-envelope"></i>
          <a href="mailto:Cafebello.2023@gmail.com">Cafebello.2023@gmail.com</a>
        </p>
      </div>
    </div>
  </div>