<div class="text-center">
    <h1>Contact</h1>
</div>

<div class="container mt-4 mb-4">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Heures D'ouverture</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Lundi:</strong> FERMÉ
            </li>
            <li class="list-group-item">
              <strong>Mardi:</strong> 9:00 AM - 5:00 PM
            </li>
            <li class="list-group-item">
              <strong>Mercredi:</strong> 9:00 AM - 5:00 PM
            </li>
            <li class="list-group-item">
              <strong>Jeudi:</strong> 9:00 AM - 5:00 PM
            </li>
            <li class="list-group-item">
              <strong>Vendredi:</strong> 9:00 AM - 5:00 PM
            </li>
            <li class="list-group-item">
              <strong>Samedi:</strong> 10:00 AM - 5:00 PM
            </li>
            <li class="list-group-item">
              <strong>Dimanch:</strong> FERMÉ
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <div>
    <i class="fa-solid fa-location-dot"></i>
    <a href="https://www.google.com/maps/place/505+b+Rue+Principale,+Lachute,+QC+J8H+1Y5/@45.6570181,-74.3374995,17z/data=!3m1!4b1!4m6!3m5!1s0x4ccedbdb0b6bf901:0xa289939a5fd4775c!8m2!3d45.6570181!4d-74.3349246!16s%2Fg%2F11pvww_2k7?entry=ttu&g_ep=EgoyMDI1MDMxOS4yIKXMDSoASAFQAw%3D%3D" target="_blank">
      Cafe Bell-O
    </a>
  </div>
  <p class="mt-2">
    <i class="fa-solid fa-phone"></i> (819) 743-5579
  </p>
  <p class="mt-2">
    <i class="fa-solid fa-envelope"></i> Cafebello.2023@gmail.com
  </p>
</div>
