<footer class="footer">
  <div class="footer-content">
    <!-- Social Media Links -->
    <ul class="social-links">
      <li>
        <a href="https://www.facebook.com/cafe.bell.o.en.art/?checkpoint_src=any" target="_blank" aria-label="Facebook">
          <i class="fa-brands fa-facebook fa-lg"></i>
        </a>
      </li>
      <!-- Additional social media links here -->
    </ul>
    
    <!-- Copyright Info -->
    <div class="copyright">
      <span>©<%= Time.now.year %> Cafe Bell-O. All rights reserved.</span>
    </div>
  </div>
</footer>